/* Universal Selectors */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Element Selectors */

button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header a {
    font-weight: bold;
    position: relative;
    bottom: 180px;
    
}

/* Class Selectors */

.btn-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
}
 
.hide {
    display: none;
}

/* ID selectors */

#answer-btn {
    padding: 20px;
}


#highscores {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color:purple;
    border-radius: 15px;
}

#highscores li {
    padding: 14px;
    color: white;
}

#score-title {
    color: purple;
}